* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.ebook-main {
  padding: 0px;
}

.navbar {
  width: 250px;
  height: 100vh;
  position: fixed;
  transition: 0.4s;
}
.navbar li.nav-item.w-100 {
  padding-left: 1.5em;
}
.navbar .sidebarNavigator {
  font-size: 2rem;
}
.navbar .sidebarNavigator svg {
  width: 2rem;
  height: 2rem;
}
.navbar .ebook-nav-item:active, .navbar .ebook-nav-item:hover, .navbar .ebook-nav-item:focus {
  background-color: antiquewhite;
}
.navbar .ebook-nav-item .nav-link {
  font-size: 1.25em;
}

h1.module-title {
  margin-top: 0.1em;
}

.active-flip {
  transform: scaleX(-1);
}

#menu-btn {
  border-radius: 15px;
}
#menu-btn:focus {
  box-shadow: 0 0 0 1px grey;
}

#menu-btn-dash {
  border-radius: 15px;
}
#menu-btn-dash:focus {
  box-shadow: 0 0 0 0.1px grey;
}

.above-module {
  width: 100%;
}

.ModuleOrderNumber {
  color: gray;
}

/* Module */
.module {
  transition: 0.4s;
  padding-top: 2em;
  margin-left: 250px;
  height: 100%;
}
.module h1 {
  padding-left: 30px;
  padding-right: 30px;
}
.module .above-module {
  padding-left: 30px;
  padding-right: 30px;
}
.module .unit {
  padding-left: 30px;
  padding-right: 30px;
}

/*content*/
.content {
  transition: 0.4s;
  padding-top: 2em;
  margin-left: 250px;
  padding-left: 2em;
}

.active-nav {
  margin-left: -300px;
}

.active-cont {
  margin-left: 0;
}

#admin-sidebar .main-dash-nav-item {
  border: solid red 0px;
  transition: 0.2s;
}
#admin-sidebar .main-dash-nav-item:active, #admin-sidebar .main-dash-nav-item:hover, #admin-sidebar .main-dash-nav-item:focus {
  background-color: #fff;
  border-left-width: 5px;
}

.dashboard-main {
  padding: 0px;
}

.page-buttons-section {
  margin: 30px auto 30px auto;
}

#ebook-sidebar .chapter-link {
  text-decoration: none;
}
#ebook-sidebar .chapter {
  font-size: 30px;
}
#ebook-sidebar .ebook-nav-item a {
  font-size: 12px;
}

.chapter-chevron {
  stroke: #999999;
  stroke-width: 1px;
}

.chapter-chevron-disables {
  opacity: 0.2;
  stroke-width: 1px;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.unit img {
  width: 100%;
}
.unit .unit-img-col {
  max-width: 400px;
}

.btngotodash {
  border: solid gray 1px;
  border-radius: 15px;
  padding: 3px 15px;
  background-color: #fff;
}

#btngotodash {
  position: fixed;
  top: 10px;
  right: 10px;
}

.modal-centent {
  background-color: white;
}

.imgTile {
  margin-right: 10px;
  margin-left: auto;
  border: solid 1px #999;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imgTile div {
  padding-right: 0px;
}

.btn-primary {
  background-color: red;
  border: red;
}
.btn-primary:hover {
  background-color: #fff;
  color: red;
  border: solid red 1px;
}

.btn-outline-primary {
  color: red;
  border-color: red;
}
.btn-outline-primary:hover {
  background-color: red;
  border: solid red 1px;
}

.bookCoverForm {
  width: 100%;
}
.bookCoverForm #bookCover {
  width: 100%;
}
.bookCoverForm input {
  width: 100%;
}

.btn-dlonra-red {
  background-color: #E9757D;
  color: white;
  border: solid 1px #E9757D;
}
.btn-dlonra-red:hover {
  background-color: white;
  color: #E9757D;
  border: solid 1px #E9757D;
}

.btn-dlonra-orange {
  background-color: #F8AA78;
  color: white;
  border: solid 1px #F8AA78;
}
.btn-dlonra-orange:hover {
  background-color: white;
  color: #F8AA78;
  border: solid 1px #F8AA78;
}

.btn-dlonra {
  border-radius: 20px;
}

.btn-dlonra-yellow {
  background-color: #FEDB75;
  color: white;
  border: solid 1px #FEDB75;
}
.btn-dlonra-yellow:hover {
  background-color: white;
  color: #FEDB75;
  border: solid 1px #FEDB75;
}

#myBooksTable_wrapper input, #redeemBooksTable_wrapper input {
  border-radius: 50px;
  border-color: #E9757D;
}
#myBooksTable_wrapper select, #redeemBooksTable_wrapper select {
  border-radius: 20px;
  border-color: #E9757D;
}
#myBooksTable_wrapper .img-thumbnail, #redeemBooksTable_wrapper .img-thumbnail {
  border: none;
}

.unit-img-col img {
  max-width: 400px;
}

.img-pop {
  z-index: 9;
  max-width: none !important;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  text-align: center;
}
.img-pop img {
  max-width: 800px;
}
