*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$dlonra-pestel-red:#fd424e;
$DLonraRed:#E9757D;
$DLonraOrange:#F8AA78;
$DLonraYellow:#FEDB75;
body{
    min-height: 100vh;
    background-color: #fff;
    
}
.ebook-main{
    padding: 0px;
}
.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    
    
    transition: 0.4s;
    li.nav-item.w-100 {
        padding-left: 1.5em;
    }
    .sidebarNavigator{
        svg {
            width: 2rem;
            height: 2rem;   

        }
        font-size:2rem;
    }
        .ebook-nav-item{
            &:active,&:hover,&:focus{
                background-color: antiquewhite;
        }
        
        .nav-link{
            font-size: 1.25em;
        }
    }
    
}

h1.module-title {
    margin-top: 0.1em;
}

.active-flip{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#menu-btn{
    border-radius: 15px;
    &:focus{
        box-shadow: 0 0 0 1px grey;
    }
}
#menu-btn-dash{
    border-radius: 15px;
    &:focus{
        box-shadow: 0 0 0 0.1px grey;
    }
    
}
.above-module{
    width: 100%;
}
.ModuleOrderNumber{
    color: gray;
}
/* Module */
.module{
    transition: 0.4s;
    padding-top: 2em;
    margin-left: 250px;
    height: 100%;
    h1{
        padding-left: 30px;
        padding-right: 30px;
    }
    .above-module{
        padding-left: 30px;
        padding-right: 30px;
    }
    .unit{
        padding-left: 30px;
        padding-right: 30px;
    }
}
/*content*/
.content{
    transition: 0.4s;
    padding-top: 2em;
    margin-left: 250px;
    padding-left: 2em;
}

.active-nav{
    margin-left: -300px;
    // margin-left: 0;
}
.active-cont{
    margin-left: 0;
}
#admin-sidebar{
    .main-dash-nav-item{
        border: solid red 0px;
        transition: 0.2s;
        &:active,&:hover,&:focus{
            background-color: #fff;
            border-left-width: 5px;
        }
    }
    
}
.dashboard-main{
    padding: 0px;
}
.page-buttons-section{
    margin: 30px auto 30px auto;
}
#ebook-sidebar{
    .chapter-link{
        text-decoration:none;
    }
    .chapter{
        font-size: 30px;
    }
    .ebook-nav-item a{
        font-size: 12px;
    }
}
.chapter-chevron{
    
    stroke: #999999;
    stroke-width: 1px;
}
.chapter-chevron-disables{
    
    opacity: 0.2;
    stroke-width: 1px;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
.unit{
    img{
        width: 100%;
    }
    .unit-img-col{
        max-width: 400px;
    }
}

.btngotodash {
    border: solid gray 1px;
    border-radius: 15px;
    padding: 3px 15px;
    background-color: #fff;
  }
  
  #btngotodash {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  .modal-centent{
    background-color: white;
  }
  .imgTile{
    margin-right: 10px;
    margin-left: auto;
    border: solid 1px #999;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
    height: 110px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        div{
        padding-right: 0px;
    }

  }
.btn-primary{
    background-color: red;
    border: red;
    &:hover{
        background-color: #fff;
        color: red;
        border:solid red 1px;
    }
}
.btn-outline-primary{
    color: red;
    border-color: red;
    &:hover{
        background-color: red;
        border:solid red 1px;
    }
}
.bookCoverForm{
    #bookCover{
        width: 100%;
    }
    width: 100%;
    input{
        width: 100%;
    }
}
.btn-dlonra-red{
    background-color: $DLonraRed;
    color: white;
    border: solid 1px $DLonraRed;
    &:hover{
      background-color: white;
      color: $DLonraRed;
      border: solid 1px $DLonraRed;
    }
  }
  .btn-dlonra-orange{
    background-color: $DLonraOrange;
    color: white;
    border: solid 1px $DLonraOrange;
    &:hover{
      background-color: white;
      color: $DLonraOrange;
      border: solid 1px $DLonraOrange;
    }
  }
  .btn-dlonra{
    border-radius: 20px;
  }
  .btn-dlonra-yellow{
    background-color: $DLonraYellow;
    color: white;
    border: solid 1px $DLonraYellow;
    &:hover{
      background-color: white;
      color: $DLonraYellow;
      border: solid 1px $DLonraYellow;
    }
  }
#myBooksTable_wrapper,#redeemBooksTable_wrapper{
    input{
        border-radius: 50px;
        border-color: $DLonraRed;
    }
    select{
        border-radius: 20px;
        border-color: $DLonraRed;
    }
    .img-thumbnail{
        border: none;
    }
}
#myBooksTable{
    tr{
        
    }
}
.unit-img-col{
    img{
        max-width: 400px;
    }
}
.img-pop {
    z-index: 9;
    max-width: none !important;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    text-align: center;
    img{
        max-width: 800px;
    }
}

