*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #fff;
    
}
.ebook-main{
    padding: 0px;
}
.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    
    
    transition: 0.4s;
    li.nav-item.w-100 {
        padding-left: 1.5em;
    }
    .sidebarNavigator{
        svg {
            width: 2rem;
            height: 2rem;   

        }
        font-size:2rem;
    }
        .ebook-nav-item{
            &:active,&:hover,&:focus{
                background-color: antiquewhite;
        }
        
        .nav-link{
            font-size: 1.25em;
        }
    }
    
}

h1.module-title {
    margin-top: 0.1em;
}

.active-flip{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#menu-btn{
    border-radius: 15px;
    &:focus{
        box-shadow: 0 0 0 1px grey;
    }
}
#menu-btn-dash{
    border-radius: 15px;
    &:focus{
        box-shadow: 0 0 0 0.1px grey;
    }
    
}
.above-module{
    width: 100%;
}
.ModuleOrderNumber{
    color: gray;
}
/* Module */
.module{
    transition: 0.4s;
    padding-top: 2em;
    margin-left: 250px;
    background-color: antiquewhite;
    h1{
        padding-left: 30px;
        padding-right: 30px;
    }
    .above-module{
        padding-left: 30px;
        padding-right: 30px;
    }
    .unit{
        padding-left: 30px;
        padding-right: 30px;
    }
}
/*content*/
.content{
    transition: 0.4s;
    padding-top: 2em;
    margin-left: 250px;
    padding-left: 2em;
}

.active-nav{
    margin-left: -300px;
    // margin-left: 0;
}
.active-cont{
    margin-left: 0;
}
#admin-sidebar{
    background-color:rgba($color: #000000, $alpha: 0.1);
    .main-dash-nav-item{
        &:active,&:hover,&:focus{
            background-color: #fff;
            opacity: 0.5;
        }
    }
}
.dashboard-main{
    padding: 0px;
}
.page-buttons-section{
    margin: 30px auto 30px auto;
}
